In [ ]:
'''
Multi Line Comment
Class Objective
Python Basics: Print statements, comments, simple input/output, output formatting.
writing simple python programs, print(), input(), format(), use of "+", "," in output printing. 
'''

'\nMulti Line Comment\nClass Objective\nPython Basics: Print statements, comments, simple input/output, output formatting.\nwriting simple python programs, print(), input(), format(), use of "+", "," in output printing. \n'

In [ ]:
Multi Line Comment

SyntaxError: invalid syntax (2637467124.py, line 1)

In [ ]:
#Single line Comment

In [ ]:
'''
Multi Line Comment
Class Objective
Python Basics: Print statements, comments, simple input/output, output formatting.
writing simple python programs, print(), input(), format(), use of "+", "," in output printing. 
'''

'\nMulti Line Comment\nClass Objective\nPython Basics: Print statements, comments, simple input/output, output formatting.\nwriting simple python programs, print(), input(), format(), use of "+", "," in output printing. \n'

In [ ]:
help(print)
'''
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)
    
    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.
'''

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print('Hi')

Hi

In [ ]:
#String
'Python'

'Python'

In [ ]:
#String
"Python"

'Python'

In [ ]:
print("Python")

Python

In [ ]:
print("Python", "Analytics","Programming")

Python Analytics Programming

In [ ]:
print("Python", "Analytics","Programming", sep = '------')

Python------Analytics------Programming

In [ ]:
print("Hi", "Aman")

Hi Aman

In [ ]:
print("Hi", "Aman", sep='-')

Hi-Aman

In [ ]:
print("Hi Aman")

Hi Aman

In [ ]:
"Hi 5 % @ Python"

'Hi 5 % @ Python'

In [ ]:
print("Hi","Aman")

Hi Aman

In [ ]:
print ("Hi")
print("Welcome to")
print("Python")

Hi
Welcome to
Python

In [ ]:
'''
Sepcial combinations of String 
\n New Line
\t Tab
'''

In [ ]:
print ("Hi", end='\n')
print("Welcome")
print("Python")

Hi
Welcome
Python

In [ ]:
print ("Hi", end='   ')
print("Welcome", "to", sep = '***', end='---')
print("Python")

Hi   Welcome***to---Python

In [ ]:
print("hi", "  ", end=' ')

hi

In [ ]:
"hi \n Welcome"

'hi \n Welcome'

In [ ]:
print("whoe's")

whoe's

In [ ]:
help (print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
#variable
s = "Python"

In [ ]:
print("s")

s

In [ ]:
print(s)

Python

In [ ]:
lc = "India"
wc = "USA"

In [ ]:
print(lc, wc)

India USA

In [ ]:
print("I live in India and I work in USA")

I live in India and I work in USA

In [ ]:
print("I live in lc and I work in wc")

I live in lc and I work in wc

In [ ]:
print("I live in", lc, "and I work in", wc)

I live in India and I work in USA

In [ ]:
print("I live in", lc, "and I work in", wc, sep='-')

I live in-India-and I work in-USA

In [ ]:
#Sting Formating

In [ ]:
print(f"I live in {lc} and I work in {wc}")

I live in India and I work in USA

In [ ]:
print(f"I live in {lc} and I work in {wc}", sep='-')

I live in India and I work in USA

In [ ]:
print("I live in {0} and I work in {1}".format(lc,wc))

I live in India and I work in USA

In [ ]:
print("I live in {1} and I work in {0}".format(lc,wc))

I live in USA and I work in India

In [ ]:
print("I live in {0} and I work in {1}".format(wc,lc), sep='-' )

I live in USA and I work in India

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print("HI", "Python" ,sep=6*' ')
print(6*'-' )
print("Python")

HI      Python
------
Python

In [ ]:
print(6 * '-')

------

In [ ]:
f = open('E:\\Chitkara University\\July-Dec 2022\\PythonCourse\\Code\\abc.txt', 'w')
#File opening in write mode
# r read, w write, a append
print('Hi welcome to python prog', file = f)
f.close()